[SddmGreeterTheme]
Name=TenshiSTEP-darkmode
Description=OPENSTEP-inspired colour login theme with a chiselled NeXT panel
Author=themes
License=MIT
Type=sddm-theme
Version=1.0
Website=
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=
Theme-Id=TenshiSTEP-darkmode
Theme-API=2.0
QtVersion=5
