[Desktop Entry]
Type=Application
Version=1.0
Name=kitty
Comment=Fast GPU terminal
Exec=kitty
Icon=kitty
Terminal=false
Categories=System;TerminalEmulator;
StartupWMClass=kitty
