[Desktop Entry]
Type=Application
Version=1.0
Name=Slack
Comment=Team messaging
Exec=slack
Icon=slack
Terminal=false
Categories=Network;InstantMessaging;
StartupWMClass=Slack
