[Desktop Entry]
Type=Application
Version=1.0
Name=Oracle VirtualBox
Comment=Run virtual machines
Exec=VirtualBox
Icon=virtualbox
Terminal=false
Categories=System;Emulator;
StartupWMClass=VirtualBox
