[Desktop Entry]
Name=TenshiSTEP-darkmode
Comment=NeXTSTEP-inspired chiseled window decoration
Type=Service
X-KDE-ServiceTypes=KDecoration

X-KDE-PluginInfo-Author=themes
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=TenshiSTEP-darkmode
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-License=MIT
X-KDE-PluginInfo-EnabledByDefault=true
